<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - Bikin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  
  <!-- wysi File -->

	<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css'>
	<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css'>
	<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css'>
	<link rel='stylesheet' href='https://mindmup.github.io/bootstrap-wysiwyg/external/google-code-prettify/prettify.css'><link rel="stylesheet" href="wysi/style.css">


  <!-- =======================================================
  * Template Name: Bikin - v4.2.0
  * Template URL: https://bootstrapmade.com/bikin-free-simple-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">CIPHER</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
	
		
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Inner Page</li>
        </ol>

      </div>
    </section><!-- End Breadcrumbs -->

    <!--<section class="inner-page">
     <div class="container">
       <p>
          Example inner page template
        </p> 
      </div> 
    </section>   -->
	
	<section class="container-fluid">
		<div class="container">
		<form action="">

		<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
		  <div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
			  <ul class="dropdown-menu">
			  </ul>
			</div>
		  <div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
			  <ul class="dropdown-menu">
			  <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
			  <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
			  <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
			  </ul>
		  </div>
		  <div class="btn-group">
			<a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
			<a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
			<a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
			<a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
		  </div>
		  <div class="btn-group">
			<a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
			<a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
			<a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
			<a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
		  </div>
		  <div class="btn-group">
			<a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
			<a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
			<a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
			<a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
		  </div>
		  <div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
				<div class="dropdown-menu input-append">
					<input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
					<button class="btn" type="button">Add</button>
			</div>
			<a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>

		  </div>
		  
		  <div class="btn-group">
			<a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
			<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
		  </div>
		  <div class="btn-group">
			<a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
			<a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
		  </div>
		  <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
		</div>
		
		<!--<table class="table table-striped">
		  <thead>
			<tr>
			  <th scope="col">input word</th>
			  <th scope="col">text summary</th>
			</tr>
		  </thead>
		<table>
		
		<div class="grid-container">

			<div contenteditable="true" class="grid-child purple container-fluid" id="editor" >
				
				Go ahead&hellip;
			</div>  

			
			<div class="grid-child purple container-fluid" id="editor">
				click to see summary here
			</div>
		  
		</div>
				
		
		<button type="button" class="btn btn-primary btn-lg btn-block">if you like click!</button> -->


		<div class="grid-container">
		
		  <div contenteditable="true" class="col-75 container grid-child" name="subject" style="height:500px" id="editor">
			
			Go ahead&hellip;
		  </div>
		  <div contenteditable="true" class="col-75 container grid-child" name="subject" style="height:500px" id="editor">
			
			Summary&hellip;
		  </div>
		</div>
		
		<div class="row" id="ct">
			<div class="text-center">
				<button type="button" class="btn btn-success">Summarize</button>
			</div>
		</div>
		</form>
	</div>
	</section>
	

  </main><!-- End #main -->
  

  <!-- ======= Footer ======= -->
 

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
 

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  
    <!-- wysi JS File -->
  
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
	<script src='https://mindmup.github.io/bootstrap-wysiwyg/external/jquery.hotkeys.js'></script>
	<script src='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js'></script>
	<script src='https://mindmup.github.io/bootstrap-wysiwyg/external/google-code-prettify/prettify.js'></script>
	<script src='https://mindmup.github.io/bootstrap-wysiwyg/bootstrap-wysiwyg.js'></script><script  src="wysi/script.js"></script>


</body>

</html>